@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

/* колір для активних точок */
.slick-dots li.slick-active button::before {
  color: #fff;
}

/* колір для неактивних точок */
.slick-dots li button::before {
  color: #c6c6c6;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background: #141619;
  color: #fff;
}
@media (max-width: 1024px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  html,
  body {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  html,
  body {
    font-size: 8px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  scroll-margin-top: 6rem;
}

.container {
  margin: 0 auto;
  width: min(70rem, 80%);
}
@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 90%;
  }
}

.get_in_touch {
  padding: 1rem;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 0.125rem;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  cursor: pointer;
}

.section_name {
  margin: 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
}

.section_description {
  width: min(38rem, 95%);
  margin: 1.5rem auto 4rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.more {
  display: flex;
  gap: 0.5rem;
  color: #5FA4E6;
  text-decoration: underline;
}
.more:hover img {
  transform: translateX(1rem);
}
.more img {
  transition: all 0.5s;
}

.header {
  position: sticky;
  top: 0;
  padding: 1.3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141619;
  text-transform: uppercase;
  z-index: 5;
}
.header .logo img {
  width: 100%;
}
.header .navigation {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
}
@media (max-width: 850px) {
  .header .navigation {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    height: 0svh;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 3rem;
    background: #141619;
  }
  .header .navigation.active {
    height: 100svh;
  }
}
.header .follow {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
@media (max-width: 850px) {
  .header .follow {
    display: none;
  }
}
.header .follow .circle {
  width: 1rem;
  height: 1rem;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  border-radius: 50%;
}
.header .burger {
  position: relative;
  width: 32px;
  height: 3px;
  background: #fff;
  display: none;
}
.header .burger::before, .header .burger::after {
  position: absolute;
  inset: 0;
  content: "";
  background: #fff;
}
.header .burger::before {
  transform: translateY(-300%);
}
.header .burger::after {
  transform: translateY(300%);
}
@media (max-width: 850px) {
  .header .burger {
    display: block;
  }
}

.main {
  min-height: min(100svh - 5.5rem, 60rem);
}
.main .container {
  text-align: center;
}
.main .container .title {
  margin: 3rem 0;
  font-size: 4.75rem;
  font-weight: 500;
}
.main .container .subtitle {
  margin: 0;
  font-size: 4.625rem;
  font-weight: 500;
}
.main .container .description {
  width: min(33rem, 95%);
  margin: 2rem auto 2.5rem;
  text-wrap: balance;
}

.about {
  margin: 8rem 0;
}
.about .container .table {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.about .container .table .square {
  min-height: 11.2rem;
  padding: 1.7rem;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .about .container .table .square {
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  .about .container .table .square {
    flex: 0 0 100%;
    border: none !important;
  }
}
.about .container .table .square:hover {
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}
.about .container .table .square:nth-child(-n+4) {
  border-bottom: 1px solid #5FA4E6;
}
.about .container .table .square:nth-last-child(-n+4) {
  border-top: 1px solid #5FA4E6;
}
.about .container .table .square:nth-child(n+2):nth-child(-n+4), .about .container .table .square:nth-child(n+6):nth-child(-n+8) {
  border-left: 1px solid #5FA4E6;
}
.about .container .table .square:nth-child(-n+3), .about .container .table .square:nth-child(n+5):nth-child(-n+7) {
  border-right: 1px solid #5FA4E6;
}
.about .container .table .square .square__title {
  font-size: 2rem;
  font-weight: 500;
}
.about .container .table .square .square__description {
  font-size: 1.1875rem;
  font-weight: 400;
}

.services .container .service {
  margin: 6rem 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .services .container .service {
    flex-direction: column;
  }
}
.services .container .service .content {
  max-width: 26.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .services .container .service .content {
    max-width: none;
  }
}
.services .container .service .content .service__title {
  font-size: 2.25rem;
  font-weight: 400;
}
.services .container .service .content .service__subtitle {
  font-size: 1.25rem;
  font-weight: 700;
}
.services .container .service .content .service__description {
  font-size: 1.25rem;
  font-weight: 400;
  text-wrap: balance;
}
.services .container .service .content .more {
  display: flex;
  gap: 0.5rem;
  color: #5FA4E6;
  text-decoration: underline;
}
.services .container .service .content .more:hover img {
  transform: translateX(1rem);
}
.services .container .service .content .more img {
  transition: all 0.5s;
}
.services .container .service .image {
  display: flex;
}
.services .container .service .image img {
  width: max(20rem, 100%);
}
.services .container .partners {
  padding: 8rem 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .services .container .partners {
    flex-direction: column;
  }
}
.services .container .partners .left .icons {
  height: 20rem;
  position: relative;
}
@media (max-width: 768px) {
  .services .container .partners .left .icons {
    display: none;
  }
}
.services .container .partners .left .icons .near,
.services .container .partners .left .icons .mena,
.services .container .partners .left .icons .solana {
  position: absolute;
  width: 4rem;
  aspect-ratio: 1;
}
.services .container .partners .left .icons .near {
  top: -1rem;
  left: -3rem;
}
.services .container .partners .left .icons .mena {
  top: 3rem;
  left: 1rem;
}
.services .container .partners .left .icons .solana {
  top: 6rem;
  left: -4.5rem;
}
.services .container .partners .left .title {
  width: 25rem;
  margin: 0;
  font-size: 3.75rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .services .container .partners .left .title {
    width: 100%;
  }
}
.services .container .partners .right {
  position: relative;
  width: min-content;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .services .container .partners .right {
    width: fit-content;
    justify-content: center;
  }
}
.services .container .partners .right .bg_gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(20, 22, 25, 0.9) 0%, transparent 50%, rgba(20, 22, 25, 0.9) 100%);
  z-index: 50;
}
.services .container .partners .right .carrousel_up,
.services .container .partners .right .carrousel_down {
  width: min(12rem, 95%);
}
.services .container .partners .right .carrousel_up .carrousel__item,
.services .container .partners .right .carrousel_down .carrousel__item {
  padding: 3.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid rgba(65, 85, 114, 0.5);
  background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);
}
.services .container .partners .right .carrousel_up .carrousel__item .carrousel__item__icon,
.services .container .partners .right .carrousel_down .carrousel__item .carrousel__item__icon {
  position: relative;
  display: flex;
}
.services .container .partners .right .carrousel_up .carrousel__item .carrousel__item__icon img,
.services .container .partners .right .carrousel_down .carrousel__item .carrousel__item__icon img {
  width: 5rem;
  height: 5rem;
}
.services .container .partners .right .carrousel_up .carrousel__item .carrousel__item__icon .carrousel__item__name,
.services .container .partners .right .carrousel_down .carrousel__item .carrousel__item__icon .carrousel__item__name {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 0.6875rem;
  color: #999;
}
.services .container .partners .right .carrousel_down {
  rotate: 180deg;
}
.services .container .partners .right .carrousel_down .carrousel__item {
  rotate: 180deg;
}

.blog .container .buttons {
  margin-bottom: 2.25rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.blog .container .buttons .prev_button,
.blog .container .buttons .next_button {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5FA4E6;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}
.blog .container .buttons .prev_button {
  rotate: 180deg;
}
.blog .container .slider {
  width: min(95%, 42rem);
  margin: 0 auto;
}
.blog .container .slider .slider__item {
  text-align: center;
}
.blog .container .slider .slider__item .content {
  margin-bottom: 2rem;
  font-size: 1.625rem;
  text-wrap: balance;
}
.blog .container .slider .slider__item .author {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
}
.blog .container .slider .slider__item .author_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.blog .container .slider .slider__item .author_info .position {
  font-size: 0.875rem;
}
.blog .container .slider .slider__item .author_info .logo {
  display: flex;
}
.blog .container .slider .slider__item .author_info .logo img {
  width: min(100%, 7.7rem);
}

.join .container {
  padding: 15rem 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .join .container {
    padding: 5rem 0;
    flex-direction: column;
    gap: 1rem;
  }
}
.join .container .left {
  position: relative;
}
.join .container .left h2 {
  margin: 0;
  font-size: 3.3125rem;
  font-weight: 500;
}
.join .container .right {
  width: min(32rem, 95%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.join .container .right p {
  margin: 0;
  text-wrap: balance;
}

.contact .container {
  padding: 6rem 0;
  text-align: center;
}
.contact .container .get_in_touch {
  margin: 0 auto;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.footer .container {
  padding: 6rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer .container .left {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer .container .left .name {
  text-transform: uppercase;
}
.footer .container .left .link:last-child {
  margin-top: 4rem;
}
.footer .container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container .right .logo {
  margin-left: auto;
}
.footer .container .right .logo img {
  width: 15rem;
}

/*# sourceMappingURL=styles.css.map */
