@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #fff;
$primary-bg: #141619;
$btn-color: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
$primary-blue: #5FA4E6;


* {
    box-sizing: border-box;
}

/* колір для активних точок */
.slick-dots li.slick-active button::before {
    color: #fff;
}

/* колір для неактивних точок */
.slick-dots li button::before {
    color: #c6c6c6;
}


html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;

    background: $primary-bg;
    color: $primary-color;

    @media (max-width:1024px) {
        font-size: 14px;
    }

    @media (max-width:768px) {
        font-size: 12px;
    }

    @media (max-width:425px) {
        font-size: 10px;
    }

    @media (max-width:320px) {
        font-size: 8px;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

section {
    scroll-margin-top: 6rem;
}

.container {
    margin: 0 auto;
    width: min(70rem, 80%);

    @media (max-width:768px) {
        width: 85%
    }

    @media (max-width:425px) {
        width: 90%
    }
}

.get_in_touch {
    padding: 1rem;

    color: $primary-color;
    font-size: 1.1875rem;
    font-weight: 500;
    text-transform: uppercase;

    border: none;
    border-radius: 0.125rem;
    background: $btn-color;
    cursor: pointer;
}

.section_name {
    margin: 0;

    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

.section_description {
    width: min(38rem, 95%);
    margin: 1.5rem auto 4rem;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.more {
    display: flex;
    gap: 0.5rem;

    color: $primary-blue;
    text-decoration: underline;

    &:hover img {
        transform: translateX(1rem);
    }

    img {
        transition: all .5s;
    }
    
}

    
    .header {
        position: sticky;
        top: 0;

        
        padding: 1.3rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background: $primary-bg;
        text-transform: uppercase;
        z-index: 5;
        
        .logo {
            img {
                width: 100%;
            }
        }
        
        .navigation {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;

            overflow: hidden;
            transition: all .3s;
            
            @media (max-width: 850px) {
                position: absolute;
                right: 0;
                left: 0;
                top: 100%;
                height: 0svh;
                
                flex-direction: column;
                justify-content: flex-start;
                
                font-size: 3rem;
                background: $primary-bg;
                
                &.active {
                    height: 100svh;
                }
            }
        }
        
        .follow {
            display: flex;
            align-items: center;
            gap: 0.6rem;

            @media (max-width: 850px) {
                display: none;
            }
            
            .circle {
                width: 1rem;
                height: 1rem;
                background: $btn-color;
                border-radius: 50%;
            }
        }
        
        .burger {
            position: relative;

            width: 32px;
            height: 3px;
            background: #fff;
            
            display: none;
            
            &::before,
            &::after {
                position: absolute;
                inset: 0;
                content: "";
                background: #fff;
            }
            
            &::before {
                transform: translateY(-300%);
            }
            
            &::after {
                transform: translateY(300%);
            }
            
            @media (max-width: 850px) {
                display: block;
            }
        }
    }

    .main {
        min-height: min(calc(100svh - 5.5rem), 60rem);
        .container {
            text-align: center;
            
            .title {
                margin: 3rem 0;
                font-size: 4.75rem;
                font-weight: 500;
            }
            
            .subtitle {
                margin: 0;
                font-size: 4.625rem;
                font-weight: 500;
            }

            .description {
                width: min(33rem, 95%);
                margin: 2rem auto 2.5rem;
                text-wrap: balance;
            }
        }
    }

.about {
    margin: 8rem 0;

    .container {


        .table {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            .square {
                min-height: 11.2rem;
                padding: 1.7rem;

                flex: 0 0 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                text-align: center;

                @media (max-width:768px) {
                    flex: 0 0 50%;
                }

                @media (max-width:768px) {
                    flex: 0 0 100%;
                    border: none !important;
                }

                &:hover {
                    background: $btn-color;
                }


                &:nth-child(-n+4) {
                    border-bottom: 1px solid $primary-blue;
                }

                &:nth-last-child(-n+4) {
                    border-top: 1px solid $primary-blue;
                }

                &:nth-child(n+2):nth-child(-n+4),
                &:nth-child(n+6):nth-child(-n+8) {
                    border-left: 1px solid $primary-blue;
                }

                &:nth-child(-n+3),
                &:nth-child(n+5):nth-child(-n+7) {
                    border-right: 1px solid $primary-blue;
                }

                .square__title {
                    font-size: 2rem;
                    font-weight: 500;
                }

                .square__description {
                    font-size: 1.1875rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.services {
    .container {
        .service {
            margin: 6rem 0;
            display: flex;
            justify-content: space-between;

            @media (max-width:768px) {
                flex-direction: column;
            }

            .content {
                max-width: 26.875rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @media (max-width:768px) {
                    max-width: none;
                }

                .service__title {
                    font-size: 2.25rem;
                    font-weight: 400;
                }

                .service__subtitle {
                    font-size: 1.25rem;
                    font-weight: 700;
                }

                .service__description {
                    font-size: 1.25rem;
                    font-weight: 400;
                    text-wrap: balance;
                }

                .more {
                    display: flex;
                    gap: 0.5rem;

                    color: $primary-blue;
                    text-decoration: underline;

                    &:hover img {
                        transform: translateX(1rem);
                    }

                    img {
                        transition: all .5s;
                    }

                }
            }

            .image {
                display: flex;

                img {
                    width: max(20rem, 100%);
                }
            }
        }

        .partners {
            padding: 8rem 0;
            display: flex;
            justify-content: space-between;

            @media (max-width:768px) {
                flex-direction: column;
            }

            .left {
                .icons {
                    height: 20rem;
                    position: relative;

                    @media (max-width:768px) {
                        display: none;
                    }

                    .near,
                    .mena,
                    .solana {
                        position: absolute;
                        width: 4rem;
                        aspect-ratio: 1;
                    }

                    .near {
                        top: -1rem;
                        left: -3rem;
                    }

                    .mena {
                        top: 3rem;
                        left: 1rem;
                    }

                    .solana {
                        top: 6rem;
                        left: -4.5rem;
                    }
                }

                .title {
                    width: 25rem;
                    margin: 0;

                    font-size: 3.75rem;
                    font-weight: 500;

                    @media (max-width:768px) {
                        width: 100%;
                    }
                }
            }

            .right {
                position: relative;
                width: min-content;

                display: flex;
                justify-content: flex-end;
                gap: 1.5rem;

                @media (max-width:768px) {
                    width: fit-content;
                    justify-content: center;
                }

                .bg_gradient {
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(0deg, rgba(20, 22, 25, 0.9) 0%, transparent 50%, rgba(20, 22, 25, 0.9) 100%);
                    z-index: 50;
                }

                .carrousel_up,
                .carrousel_down {
                    width: min(12rem, 95%);

                    .carrousel__item {
                        padding: 3.5rem;
                        margin: 1rem 0;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.25rem;
                        border: 1px solid rgba(65, 85, 114, 0.50);
                        background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.10) 100%);

                        .carrousel__item__icon {
                            position: relative;
                            display: flex;

                            img {
                                width: 5rem;
                                height: 5rem;
                            }

                            .carrousel__item__name {
                                position: absolute;
                                bottom: -2rem;
                                left: 50%;
                                transform: translateX(-50%);
                                text-transform: uppercase;
                                font-size: 0.6875rem;
                                color: #999;
                            }
                        }
                    }
                }

                .carrousel_down {
                    rotate: 180deg;

                    .carrousel__item {
                        rotate: 180deg;
                    }
                }
            }
        }
    }
}

.blog {
    .container {
        .buttons {
            margin-bottom: 2.25rem;
            display: flex;
            justify-content: center;
            gap: 2rem;

            .prev_button,
            .next_button {
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid $primary-blue;
                border-radius: 50%;
                background: transparent;
                cursor: pointer;
            }

            .prev_button {
                rotate: 180deg;
            }
        }

        .slider {
            width: min(95%, 42rem);
            margin: 0 auto;

            .slider__item {
                text-align: center;

                .content {
                    margin-bottom: 2rem;
                    font-size: 1.625rem;
                    text-wrap: balance;
                }

                .author {
                    margin-bottom: 1rem;
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .author_info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;

                    .position {
                        font-size: 0.875rem;
                    }

                    .logo {
                        display: flex;

                        img {
                            width: min(100%, 7.7rem);
                        }
                    }

                }
            }
        }
    }
}

.join {
    .container {
        padding: 15rem 0;
        display: flex;
        justify-content: space-between;

        @media (max-width:425px) {
            padding: 5rem 0;
            flex-direction: column;
            gap: 1rem;
        }

        .left {
            position: relative;

            h2 {
                margin: 0;
                font-size: 3.3125rem;
                font-weight: 500;
            }
        }

        .right {
            width: min(32rem, 95%);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            p {
                margin: 0;
                text-wrap: balance;
            }
        }
    }
}

.contact {
    .container {
        padding: 6rem 0;

        text-align: center;

        .get_in_touch {
            margin: 0 auto;
        }
    }
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.25);

    .container {
        padding: 6rem 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .left {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            .name {
                text-transform: uppercase;
            }

            .link:last-child {
                margin-top: 4rem;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .logo {
                margin-left: auto;

                img {
                    width: 15rem;
                }
            }
        }
    }
}